<ion-header>
  <ion-toolbar>
    <ion-title>
      Conocimientos sobre capitales del mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>{{countries[currentIndex]}}</ion-label>

<ion-select [(ngModel)]="currentSelection" placeholder="{{currentCity}}">
  <ion-select-option *ngFor="let currentCity of cities[currentIndex]; index as i" value="{{currentCity}}">
    {{currentCity}}
  </ion-select-option>
</ion-select>
<ion-button size="default" (click)="nextQuestion(currentSelection)" fill="solid">
  Siguiente
 <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
</ion-button>
</ion-content>
